profiles {

    dev {
        process.container = "168872362532.dkr.ecr.us-east-1.amazonaws.com/scvh-ec2-ulimit:latest"
        docker.enabled = true
        docker.runOptions = '-v /home/ec2-user/environment/drive:/storage'
        aws.region = 'us-east-1'
        process.executor = 'awsbatch'
        process.queue = 'queue-scvhworkflow-dev'
        process.cpus = '16'
        process.memory = '48 GB'
    }

    prod {
        process.container = "168872362532.dkr.ecr.us-east-1.amazonaws.com/scvh-ec2-ps:latest"
        docker.enabled = true
        aws.region = 'us-east-1'
        process.executor = 'awsbatch'
        aws.batch.volumes = ['/data:/tmp:rw']
        
        process.queue = 'queue-scvhworkflow-test-merge'
        process.cpus = '16'
        process.memory = '120 GB'
    }

}