profiles {

    dev {
        process.container = "168872362532.dkr.ecr.us-east-1.amazonaws.com/scvh-ec2-ulimit:latest"
        docker.enabled = true
        docker.runOptions = '-v /home/ec2-user/environment/drive:/storage'
        aws.region = 'us-east-1'
        process.executor = 'awsbatch'
        process.queue = 'queue-scvhworkflow-dev'
        process.cpus = '16'
        process.memory = '48 GB'
    }

    prod {
        process.container = "795465341760.dkr.ecr.us-east-1.amazonaws.com/scvh:latest"
        docker.enabled = true
        aws.region = 'us-east-1'
        process.executor = 'awsbatch'
        aws.batch.volumes = ['/data:/tmp:rw']
        
        process.queue = 'q-scvhwf-dev'
        process.cpus = '24'
        process.memory = '180 GB'
    }

    batch {
        aws.region = 'us-east-2'
        process.container = '795465341760.dkr.ecr.us-east-1.amazonaws.com/dev/scvh:latest'
        process.executor = 'awsbatch'
        process.queue = 'jy-scvh-queue'
        process.downloadqueue = 'jy-scvh-queue-r5a4x-1'
        process.mapqueue = 'jy-scvh-queue-r5a8x-1'
        params.reads = "s3://sra-pub-sars-cov2/sra-src/SRR11537951/*_R{2,1}.fastq.gz" 
        params.ref = "s3://scvhwf/prod/ref/STAR"
        params.outdir = "s3://scvhwf/prod/output/demo"

    }
    batchfull {
        aws.region = 'us-east-2'
        process.container = '795465341760.dkr.ecr.us-east-1.amazonaws.com/dev/scvh:latest'
        process.executor = 'awsbatch'
        process.downloadqueue = 'jy-scvh-queue-r5a4x-1'
        process.mapqueue = 'jy-scvh-queue-r5a8x-1'
        params.reads = ["SRR12570210","SRR12570211","SRR12570212"]
        params.ref = "s3://scvhwf/prod/ref/STAR"
        params.outdir = "s3://scvhwf/prod/output/demo"

    }
    batchlocal {
        process.container = '795465341760.dkr.ecr.us-east-1.amazonaws.com/dev/scvh:latest'
        params.reads = ["SRR12570210","SRR12570211","SRR12570212"]
        params.ref = "/home/d24h_prog5/angelayin/input_data/ref"
        params.outdir = "/home/junyi/outputs/scvh"
        docker.enabled = true
    }
    singularity {
        process.container = '/home/junyi/containers/scvh.sif'
		singularity.cacheDir = "/home/junyi/tmp"
        singularity.enabled = true
        params.ref =  "/home/junyi/data/newref"
        params.outdir = "/home/junyi/outputs/microbes"
        params.codebase = "/code"
    }
    mkref {
        aws.region = 'us-east-2'
        process.container = 'public.ecr.aws/b6a4h2a6/scvh_mkref:latest'
        process.executor = 'awsbatch'
        process.queue = 'jy-scvh-queue-optimal'
        params.ref = 's3://scvhwf/humangenome/'
        params.humanfa = 'hg38.fa'
        params.humagtf = 'hg38.unique_gene_names.gtf'
        params.viruSITE = 'viruSITE_human_host.txt'
        params.prokaryotes = 'prokaryotes.csv'
    }
}